@charset "UTF-8";
*{
    padding: 0 ; margin: 0;
}
img{
    border: 0;
}
.full-wrapper{
    width: 100%;
}
.wrapper{
    width: 1270px;
    margin: 0 auto;
}
ul, ol {
    list-style-type: none;
}
a{ text-decoration: none;}
body{}
    
/* maing code start  */
  
.header-bg{
    background-color:#DD3333;
    padding: 10px;
}
.header-wrap{
    color: #ffffff;
}
 .icon{
     padding: 2px;
 }
 /* slider   */
 .carousel-img img{
     height: 400px;
     width: auto;
 }

  /* navbar  */
 .hover  li a:hover{
     background-color: #DD3333;
    
 }
 
 .hdlater{
     font-size: 30px;
     font-weight: bold;
 }
 /* main part  */
  main .img-part img{
      width: 350px;
      height: 300px;
      
  }
  main .img-part{
    opacity: 0.10;
  }
  main .img-part:hover{
     opacity:1;
     transform: translate(2em);
     transition:transform ease-out 1s ;
     background-color: #C7CBFD;
     border-radius: 10px;
    
  }
  #explor1{
    display: none;
 }
  #explor2{
    display: none;
 }
  #explor3{
     display: none;
  }
  
 /* footer part  */
  .bg-footer{
      background-color: gray;
    
  }